<ion-header>
  <ion-toolbar>
    <ion-title>Intro</ion-title>
  </ion-toolbar>
</ion-header>
<!----->
<ion-content>
  <ion-slides pager="true">

    <ion-slide class="slide_image">
      <img src="../../assets/images/slide-1.png">
      <h2>Slide 1</h2>
      
    </ion-slide>

    <ion-slide class="slide_image">
      <img src="../../assets/images/slide-2.png">
      <h1>Slide 2</h1>
    </ion-slide>

    <ion-slide class="slide_image">
        <img src="../../assets/images/slide-3.png">
      <h1>Slide 3</h1>
      <ion-button expand="block" (click)="go()">
        Login
      </ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>
