<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<ion-header>

    <ion-toolbar color="primary">
      <ion-icon lot="start" name="arrow-back" color="secondary"></ion-icon>
      <ion-title>Esqueci a senha</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content > 
  <h1 class="inicio">Para recuperar sua senha insira a conta de email cadastrada no campo abaixo:  </h1>
  <form>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input id="email" type="text" class="form-control" name="email" placeholder="seuemail@email.com">
    </div>
  </form>
  <ion-button id ="Recuperar" size="large">
      <h1 class="Recuperar">Recuperar</h1>
    </ion-button>

</ion-content>
