<ion-header>
  
  
    <ion-row>
      <ion-icon lot="start" name="arrow-back" color="secondary"></ion-icon>
      <ion-label>Dados Pessoais</ion-label>
     <!-- <h2 class="Cabeça">Dados Pessoais</h2>
    <ion-title>
      <h2 class="Cabeça">Dados pessoais</h2>
    </ion-title>
    -->
    </ion-row>
  
</ion-header>

<ion-content >

  <ion-row>
    
    <ion-img src="../../assets/images/slide-2.png" ></ion-img>
    <ion-button size="large" fill="outline">
      <h2 style="color:rgb(250, 238, 2); font-size: 50%; padding-bottom: 5%; font-weight: 750; margin-right: 15%;">Procurar Foto</h2>

      <ion-icon slot="start" name="search" color="primary" size="x-large" ></ion-icon>
    </ion-button>
  </ion-row>

  <ion-list>
    <ion-item >
      <ion-col>
        <ion-row>
          <h1 class="subtitle">Nome</h1>
        </ion-row>
        <ion-row>
          <ion-input placeholder="Meu Nome" type="text" #name></ion-input>
        </ion-row>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>