<ion-header>
  <ion-toolbar>
    <ion-title text-align:center>Feed de Notícias</ion-title>
  </ion-toolbar>
</ion-header>
<!--angular enxerga as duas chaves como um conteúdo a ser executados-->
<ion-content padding>

  <ion-searchbar placeholder="Digita aiiii" [(ngModel)]="searchTerm" (ionChange)="filtro()"></ion-searchbar>

  <ion-card *ngFor="let filme of lista_filmes">
    <ion-item>
      <ion-avatar item-start>
          <img src="../../assets/images/game.png">
      </ion-avatar>
      <ion-grid>
        <ion-row weight=0.0000005p>
          <h2> {{filme.original_title}}</h2>
        </ion-row>
            {{filme.release_date}} 
      </ion-grid>
    
    </ion-item> 
    <ion-card-content>
        <p> {{filme.overview}}</p>
    </ion-card-content>

    <img [src]= "'https://image.tmdb.org/t/p/w300/' + filme.backdrop_path">
  
    <!-- <ion-item (click)="onClick(go())">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>
  
    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Button Item 1 .activated</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item> -->
  </ion-card>
</ion-content>
